<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hero.o_badminton">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.UpdateJadwalActivity"></activity>
        <activity
            android:name=".activity.LihatDataJadwalPengelolaActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.TambahJadwalActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.ToUpActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.PendingTopupActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UpdateGorActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UpdateLapanganActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.MapActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.LihatDataLapanganPengelolaActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.DetailPemesananActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.PemesananActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.LihatDataGorPengelolaActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.TambahLapanganActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.TambahGorActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.PilihanIsiSaldoActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UbahPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.UbahAkunActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.DetailGorActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.GorActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".activity.RegisterPenggunaActivity" />
        <activity android:name=".activity.RegisterPengelolaActivity" />
        <activity
            android:name=".activity.LoginPengelolaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LoginPenggunaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />
    </application>

</manifest>